In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\yarag\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\yarag\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\yarag\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\yarag\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\yarag\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [2]:
import pandas as pd

In [7]:
pd.read_json('players_stats.json')

,Name,Height_cm,Appearances,Wins,Losses,Goals_per_match,Assists,Yellow_cards,Red_cards
0,Michael Owen,173,326,142,95,0.46,31,10,1
1,Jermain Defoe,171,496,185,188,0.33,33,40,2
2,Harry Kane,188,245,136,57,0.68,34,27,0
3,Mohamed Salah,175,158,107,21,0.61,34,4,0
4,Romelu Lukaku,190,252,112,80,0.45,35,19,0
5,Robbie Keane,176,349,139,122,0.36,37,17,2
6,Jamie Vardy,179,245,103,87,0.48,38,21,3
7,Robbie Fowler,173,379,164,111,0.43,39,27,2
8,Sergio Ag√ºero,173,275,186,45,0.67,47,23,1
9,Nicolas Anelka,185,364,182,95,0.34,48,5,1
10,Les Ferdinand,180,351,138,119,0.42,49,43,3
11,Dwight Yorke,178,375,169,116,0.33,50,24,1
12,Robin van Persie,183,280,153,59,0.51,53,47,2
13,Jimmy Floyd Hasselbaink,183,288,124,83,0.44,58,44,2
14,Alan Shearer,183,441,203,129,0.59,64,41,2
15,Andrew Cole,178,414,206,106,0.45,73,40,6
16,Thierry Henry,188,258,157,39,0.68,74,30,0
17,Teddy Sheringham,183,418,184,133,0.35,76,42,1
18,Steven Gerrard,185,504,255,119,0.24,92,61,6
19,Frank Lampard,184,609,349,127,0.29,102,59,2
20,Wayne Rooney,176,491,284,103,0.42,103,102,3

In [11]:
df=pd.read_json('players_stats.json')
df.head()

,Name,Height_cm,Appearances,Wins,Losses,Goals_per_match,Assists,Yellow_cards,Red_cards
0,Michael Owen,173,326,142,95,0.46,31,10,1
1,Jermain Defoe,171,496,185,188,0.33,33,40,2
2,Harry Kane,188,245,136,57,0.68,34,27,0
3,Mohamed Salah,175,158,107,21,0.61,34,4,0
4,Romelu Lukaku,190,252,112,80,0.45,35,19,0

In [15]:
df.to_csv('players_stats_out.csv',index=None)